
body {
    border:0;
    padding:0;
    background: white;
    overflow-x:hidden;
}

.loading-icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    padding:15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height:66px;
}




/* Template for fixing responsive layout */

@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 991px) {


}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}