@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


/* all main content pages should have this, to decide if they want full width or not */
.main-content {

    margin:0;
    max-width: 95vw;
    box-shadow: 0 0 0;
    padding-bottom: 170px;
}
/* ^ */

.bit-cointainer{
    width: 520px;
    display: flex;
    flex-direction: column;
}

.frontpage-img img{
    object-fit: cover;
    padding:0;
    margin:0;
    width:100vw;
    opacity: 1;


}

.frontpage-img {
    padding:0;
    margin:0;
    width:100vw;
    overflow-x:hidden;
}

.image-text {
    z-index: 99990;
    position: absolute;
    top:100px;
    font-size: 4vw;
    color:cadetblue;
    opacity: 0.8;
    text-align:center;
    width: 100%;
    font-family: 'WindSong', cursive;
    background: rgb(244, 244, 244);
    padding:20px;
}

.image-text-quoted {
    font-family: Arial, sans-serif;
    font-size: 0.4em;
    width: 80%;
    text-align: right;
}

.bitcoin-prices {
    text-decoration: none;
    width: 500px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bitcoin-prices > li {
    text-decoration: none;
    font-size: large;
}

.div-padding-10 {
    padding: 10px;
}
