.menu-bar {
    background: black;
    color: white;
    padding:10px;
    display: inline-block;
    width: 100%;
    margin:0;
    height:66px;
    position: fixed;
    z-index:999999;
}

.nav-link {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    text-align: left;
    white-space: normal;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
 background: #444444;
}

.header {
    overflow: hidden;
    width: 100%;
    z-index: 1;
    margin:0;
    padding:0;
    height:66px;
}
