.project-card {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
    gap: 5px 5px;
    width: 100%;
    grid-template-areas:
    "avatar textarea";
    border: 1px solid black;
    overflow: hidden;

}

.textarea {
    grid-area: textarea;
}

.avatar {
    grid-area: avatar;
    width:140px;
    height:140px;
    overflow: hidden;
    object-fit: cover;
}

.avatar_img {
    max-height:fit-content;
    height:100%;
    padding-right:5px;

    object-fit: cover;
}

.project-name {
    font-size: large;
    font-weight: bolder;
}

.normal-text {
    font-size: medium;
}


@media screen and (max-width: 767px) {
    .project-card {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 5px 5px;
        max-width: 100%;
        grid-template-areas:
        "avatar"
        "textarea";
        border: 1px solid black;
        overflow: hidden;

    }

    .textarea {
        grid-area: textarea;
        padding: 5px;
    }

    .avatar {
        grid-area: avatar;
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;

    }

    .avatar_img {
        max-width:100%;
        padding:0;
        object-fit: cover;
    }

}
