
.project-description-content {
    width:95vw;
    max-width:980px;
    background: white;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 7px 7px 12px #999999;
    padding: 5px;
    padding-bottom:74px;
}